body {
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100%;
    background: linear-gradient(132deg, #042B59, #0553B1, #027DFD);
    background-size: 400% 400%;
    animation: Gradient 15s ease infinite;
}

.container-fluid {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    background: #FFF;


    display: flex;
    justify-content: center;
    align-items: center;
}





/* Стили для фона и анимации на мобильных устройствах */
.background {
    background: linear-gradient(132deg, #042B59, #0553B1, #027DFD);
    background-size: 400% 400%;
    animation: Gradient 15s ease infinite;
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.cube {
    position: absolute;
    width: 10px;
    height: 10px;
    border: solid 1px #D7D4E4;
    transform-origin: top left;
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    animation: cube 12s ease-in forwards infinite;
}

/* Адаптивность на мобильных устройствах */
@media (max-width: 768px) {
    .background {
        height: 100vh;
    }

    .cube {
        width: 5px; /* Уменьшаем размер кубов для мобильных устройств */
        height: 5px;
        transform: scale(1) rotate(0deg) translate(-50%, -50%);
    }

    .logo {
        margin: 20px 10px; /* Изменяем отступы для логотипа на мобильных устройствах */
        width: 20px; /* Уменьшаем размер логотипа на мобильных устройствах */
        height: 20px;
    }

    .menu {
        top: 100px; /* Перемещаем навигационное меню вниз, чтобы избежать наложения */
    }
}

.cube:nth-child(2n) {
    border-color: #FFF ;
}
.cube:nth-child(2) {
    animation-delay: 2s;
    left: 25vw;
    top: 40vh;
}
.cube:nth-child(3) {
    animation-delay: 4s;
    left: 75vw;
    top: 50vh;
}
.cube:nth-child(4) {
    animation-delay: 6s;
    left: 90vw;
    top: 10vh;
}
.cube:nth-child(5) {
    animation-delay: 8s;
    left: 10vw;
    top: 85vh;
}
.cube:nth-child(6) {
    animation-delay: 10s;
    left: 50vw;
    top: 10vh;
}
/* ================= Header ============ */
header{
    position: absolute;
    top:0%;
    left: 0%;
    width:100%;
    margin: 0;
    padding: 0;
}
/* navbar */
.menu {
    width: 100%;
    position: fixed;
    top: 50px;
    bottom: 50px;
    text-align: center;
}

.menu ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.menu ul li{
    display: inline-block;
    vertical-align: middle;
}

.menu li a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    margin: 0 15px;
    font-size: 18px;
    position: relative;
    display: inline-block;
}

.menu li a:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: #fff;
    top: 47%;
    animation: out 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
}

.menu li:hover a:before {
    animation: in 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
}

.menu li:nth-child(1) a {
    animation: show 0.2s 1.1s ease 1 both;
}

.menu li:nth-child(2) a{
    animation: show 0.2s 1.2s ease 1 both;
}

.menu li:nth-child(3) a{
    animation: show 0.2s 1.3s ease 1 both;
}

.menu li:nth-child(4) a {
    animation: show 0.2s 1.4s ease 1 both;
}

.menu li:nth-child(5) a {
    animation: show 0.2s 1.5s ease 1 both;
}

@keyframes in {
    0% {
        width: 0;
        left: 0;
        right: auto;
    }
    100% {
        left: 0;
        right: auto;
        width: 100%;
    }
}

@keyframes out {
    0% {
        width: 100%;
        left: auto;
        right: 0;
    }
    100% {
        width: 0;
        left: auto;
        right: 0;
    }
}

@keyframes show {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }


}
/* Logo */
.logo{
    width: 35px;
    height: 35px;
    background: #EFEEF5;
    margin: 40px 63px;
    float: left;
    transform: rotate(-30deg);
}
.logo span{
    color: #591BC5;
    font-size: 2em;
    line-height: 1.4;
    padding-left: 5px;
    font-weight: bold;
}
/* Header content & title & button*/
.header-content{
    margin-top:25%;
    text-align: center;
    color:  #EFEEF5;
}
.header-content img{
    max-width: 5%;
    height: auto;
}
.header-content h1{
    text-transform: uppercase;
    font-size: 3em;
    letter-spacing: 1px;
}
.header-content p {
    font-size: 20px;
    line-height: 1.5;
    margin: 20px auto;
}
.header-content button{
    width: 140px;
    margin:20px 10px;
    color: #591BC5;
    font-size: 17px;
    border:1px solid #EFEEF5;
    font-weight: 500;
    background: #EFEEF5;
    border-radius: 20px;
    padding: 10px;
    cursor:pointer;
    transition: .3s;
}
.header-content button:hover{
    border-radius: 0;
}
/* Animate Background*/
@keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes cube {
    from {
        transform: scale(0) rotate(0deg) translate(-50%, -50%);
        opacity: 1;
    }
    to {
        transform: scale(20) rotate(960deg) translate(-50%, -50%);
        opacity: 0;
    }
}

/*about.html*/

*,
::before,
::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

img {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3 {
    margin: 0;
}


.header {
    width: 100%;
    padding: 15px 0;


    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 24px;
    font-weight: 300;
    color: gray;
}

.hero {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 1230px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.hero__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax( 290px,1fr));
    grid-gap: 20px;
}


.hero__about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #FFF275;

}

.hero__title {
    font-size: 48px;
    line-height: 1.1;
    color: #1CDAC5;
    margin-bottom: 20px;
}

.hero__prof {
    color: #4facfe;
    white-space: nowrap;
}

.hero__subtitle {
    font-size: 32px;
    font-weight: 400;
}

.hero__links {
    display: flex;
}

.hero__link {
    margin-right: 10px;

    font-size: 30px;
    color: #000;
}

.hero__link:hover {
    color: #4facfe;
}


.hero__box {
    max-width: 400px;
    justify-self: center;
    overflow: hidden;
    border: 10px solid #fff;

    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);

    animation: ava-animate 5s infinite alternate;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, .5);
}

.hero__box-img {
    animation: ava-bg 3s infinite alternate;
}

@media screen and (max-width: 978px) {
    .hero {
        padding-top: 30px;
    }

    .hero__container {
        grid-row-gap: 20px;
    }

    .hero__title {
        font-size: 28px;
        margin-bottom: 10px;
    }

    .hero__subtitle {
        font-size: 22px;
        font-weight: 400;
    }

    .hero__description {
        font-size: 14px;
    }

    .hero__about {
        text-align: center;
    }

    .hero__links {
        justify-content: center;
    }

    .hero__box {
        max-width: 350px;
        justify-self: center;
    }
}



@keyframes ava-animate {
    0% {
        border-radius: 62% 38% 72% 28% / 67% 32% 68% 33%;
    }

    40% {
        border-radius: 37% 63% 53% 47% / 67% 32% 68% 33%;
    }

    60% {
        border-radius: 23% 77% 39% 61% / 78% 54% 46% 22%;
    }

    100% {
        border-radius: 18% 82% 24% 76% / 43% 54% 46% 57%;
    }
}

@keyframes ava-bg {
    from {
        backdrop-filter: hue-rotate(0);
    }

    to {
        backdrop-filter: hue-rotate(90deg);
    }
}

/* ================================social links=======================================*/

.social {
    margin: 0;
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.social .social-item {
    margin: 0 30px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social .social-item .social-link {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    text-align: center;
    transform: perspective(1000px) rotate(-30deg) skew(25deg)
    translate(0, 0);
    transition: all 0.4s ease;
}

.social .social-item .social-link::before {
    content: "";
    position: absolute;
    top: 5px;
    left: -10px;
    height: 100%;
    width: 10px;
    background: #b1b1b1;
    transition: all 0.4s ease;
    transform: rotate(0deg) skewY(-45deg);
}

.social .social-item .social-link::after {
    content: "";
    position: absolute;
    top: 40px;
    left: -5px;
    height: 10px;
    width: 100%;
    background: #b1b1b1;
    transition: all 0.4s ease;
    transform: rotate(0deg) skewX(-45deg);
}

.social .social-item .social-link:hover {
    transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(5px, -5px);
    box-shadow: -20px 20px 10px rgba(0, 0, 0, 0.5);
}

.social .social-item:nth-child(1) a {
    color: #222222;
}

.social .social-item:nth-child(1):hover a {
    background: #222222;
}

.social .social-item:nth-child(1):hover a::before {
    background: #222222;
}

.social .social-item:nth-child(1):hover a::after {
    background: #222222;
}

.social .social-item:nth-child(2) a {
    color: #55acee;
}

.social .social-item:nth-child(2):hover a {
    background: #55acee;
}

.social .social-item:nth-child(2):hover a::before {
    background: #55acee;
}

.social .social-item:nth-child(2):hover a::after {
    background: #55acee;
}

.social .social-item:nth-child(3) a {
    color: #dd4b39;
}

.social .social-item:nth-child(3):hover a {
    background: #dd4b39;
}

.social .social-item:nth-child(3):hover a::before {
    background: #dd4b39;
}

.social .social-item:nth-child(3):hover a::after {
    background: #dd4b39;
}

.social .social-item:nth-child(4) a {
    color: #e4405f;
}

.social .social-item:nth-child(4):hover a {
    background: #e4405f;
}

.social .social-item:nth-child(4):hover a::before {
    background: #e4405f;
}

.social .social-item:nth-child(4):hover a::after {
    background: #e4405f;
}

.social .social-item .social-link:hover {
    color: #ffffff;
}


/* ================================Clients=======================================*/

/* ==========================Card=================================*/
.card {
    width: 190px;
    height: 254px;
    /*background: #07182E;*/

    position: relative;
    display: flex;
    place-content: center;
    place-items: center;
    overflow: hidden;
    border-radius: 20px;
    margin: 0;
    flex-direction: row ;

    /* Добавляем отступ справа для размещения карточек горизонтально */


}
.card-container
{
    display: flex;
    align-items: center;
    gap: 70px;
    margin-left: 90px;
}

.card h2 {
    z-index: 10;
    color: white;
    font-size: 2em;



}

.card::before {
    content: '';
    position: absolute;
    width: 100px;
    background-image: linear-gradient(180deg, rgb(0, 183, 255), rgb(255, 48, 255));
    height: 130%;
    animation: rotBGimg 3s linear infinite;
    transition: all 0.2s linear;
}

@keyframes rotBGimg {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.card::after {
    content: '';
    position: absolute;
    background: #07182E;
;
    inset: 5px;
    border-radius: 15px;
}

.our_clients {
    margin-bottom: 50px;
    margin-top: -150px;
}
/* .card:hover:before {
  background-image: linear-gradient(180deg, rgb(81, 255, 0), purple);
  animation: rotBGimg 3.5s linear infinite;
} */

.Text_clients{
    font-size: 34px;
    background: -webkit-linear-gradient(#eee, #FFF275);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



/* ================================Portfolio=======================================*/

.portfolio__header-content{
    margin-top:25%;
    text-align: center;
    color:  #EFEEF5;
}
.portfolio__card-container
{
    display: flex;
    align-items: center;
    gap: 100px;
    margin-left: 110px;
}

.portfolio__card {
    position: relative;
    width: 350px;
    aspect-ratio: 16/9;
    background-color: #f2f2f2;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    perspective: 1000px;
    box-shadow: 0 0 0 5px #ffffff80;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.portfolio__card svg {
    width: 70px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);

}

.portfolio__card__image {
    width: 100%;
    height: 100%;
}

.portfolio__card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.portfolio__card__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f2f2f2;

    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.portfolio__card:hover .portfolio__card__content {
    transform: rotateX(0deg);
}

.portfolio__card__title {
    margin: 0;
    font-size: 20px;
    color: #333;
    font-weight: 700;
}

.portfolio__card:hover svg {
    scale: 0;
}

.portfolio_card__description {
    margin: 10px 0 10px;
    font-size: 12px;
    color: #777;
    line-height: 1.4;
}

.portfolio__card__button {
    padding: 15px;
    border-radius: 8px;
    background: #777;
    border: none;
    color: white;
}

.portfolio__card__button .second {
    background: transparent;
    color: #777;
    border: 1px solid #777;
}
.our_works{
    margin-bottom: 50px;
    margin-top: -150px;
    font-size: 60px;
}